* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 4px dashed #4381c1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #121113;
  color: #f7f7f2;
  font-family: Roboto, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 2.5rem;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  word-break: break-all;
  color: #4381c1;
}

h2 {
  font-size: 1.3rem;
  font-weight: 300;
  word-break: break-all;
}

a {
  font-size: 1rem;
  font-weight: 300;
  word-break: break-all;
  color: #000000;
}
