.sommaire ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  padding: 0 100px;
  height: auto;
  list-style-type: none;
  margin: 30px 0;
}
.sommaire a {
  text-decoration: none;
  color: #f7f7f2;
  font-size: 24px;
}
.sommaire a:hover {
  color: #4381c1;
}

.sommaire h3 {
  font-size: 50px;
  padding-left: 100px;
}

.sommaire {
  text-align: start;
}

.film-container {
  display: none;
}

.film-container:target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.film-poster {
  width: 30%;
  border-radius: 5px;
}
.film-presentation {
  width: 60%;
  text-align: start;
  padding-left: 30px;
}

.film-presentation h3 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #4381c1;
}
.film-presentation h4 {
  font-size: 40px;
}

.film-presentation p {
  margin-bottom: 20px;
  line-height: 1.8em;
  font-size: 30px;
}

.film-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.film-addon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* com card */

.coms-card {
  width: 30%;
  text-align: start;
  margin-right: 30px;
  border-radius: 5px;
  background-color: white;
}

.coms-card img {
  padding: 5px;
}

.coms-card p {
  padding: 15px;
  color: black;
}
input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
}

.texte {
  filter: saturate(0);
  transition: color 0.3s ease;
}
.like {
  width: 100%;
  text-align: end;
}

input[type="checkbox"]:checked + label .texte {
  filter: saturate(1);
}
.com-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid grey;
}

.trailer-iframe {
  width: 60%;
}

.footer-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}
.biography-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 40%;
  height: auto;
  margin: 20px 0;
}
.biography-content p {
  line-height: 1.8em;
  font-size: 30px;
}

.biography-content a {
  text-decoration: none;
}

.biography-content h4 {
  color: #4381c1;
  font-size: 50px;
  margin-bottom: 10px;
}
.biography-content h4:hover {
  display: inline-block;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}
